/* Estilos para el body */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}


/* Estilos para la navbar */

section {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    background-color: white;
    margin-bottom: 20px;
}

#navbar.flex-container {
    margin-right: 120px;
    justify-content: flex-end;
    align-items: center;
}

#navbar img {
    margin-left: 140px;
    margin-right: auto;
}

#navbar a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: black;
    margin-right: 10px;
    font-weight: bold;
}

#navbar a:hover {
    color: red;
}


/* Estilos para el contenido */

section {
    background-color: #7a7474;
}

.title-info {
    font-size: 50px;
}

.content-info {
    font-size: 16px;
    text-align: justify;
}

.text-content {
    background-color: #7a7474;
    color: white;
    margin-left: 150px;
    width: 50%;
}

.form-content {
    background-color: #4a4646;
    color: white;
    width: 39%;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 150px;
    border-radius: 5px;
    margin-bottom: 50px;
    text-align: center;
}

.title-form {
    text-align: center;
}

input {
    margin-left: 20px;
    height: 30px;
    margin-bottom: 10px;
    width: 75%;
    font-size: 15px;
}

button {
    margin-left: 20px;
    height: 60px;
    width: 77%;
    margin-bottom: 20px;
    background-color: #d45050;
    color: white;
    font-size: 15px;
}


/* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: 140px;
}